<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="https://hsacggm.in/*,https://hsac.org.in/eodb/"
    <serverUrls>
        <serverUrl url="https://hsacggm.in/"
                  matchAll="true" username="portaladmin" password="Admin@CRID!5432"/>
		<serverUrl url="https://hsac.org.in/"
                  matchAll="true" username="harsacadmin" password="Admin@CRID!5432"/>
    </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
